<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crejaud.jrejaud.cleverobjects">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--Needed by MP-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".CleverObjectsApp"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PhoneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Wear.WatchListener">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"
                    tools:ignore="WearableBindListener" />
            </intent-filter>
        </service>

        <activity
            android:name=".SmartthingsLoginActivity"
            android:label="@string/title_activity_smartthings_login"
            android:parentActivityName=".PhoneActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crejaud.jrejaud.cleverobjects.PhoneActivity" />
        </activity>
        <activity
            android:name=".CleverObjectsActivity"
            android:label="@string/title_activity_clever_objects"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4679301658829fcedb76afc15450b6e6855d7c77" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>
